body{
	width: 100%;
	font-family: 'Roboto', sans-serif;
}

a{
	text-decoration: none;
	color: black;
}

ul{
	list-style: none;
	padding-left: 0px;
}

/*header*/
header img{
	width: 200px;
}

header div{
	text-align: center;
	margin: 20px 0px;
}

/*main*/

.explorer{
	background-color: #F2F2F2;
}

.form{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	background-color: #e5e4e4;
}

.explorer_text{
	text-align: center;
	padding-bottom: 20px;
}

.explorer_text button{
	color: white;
	padding: 15px;
	border-radius: 30px;
	border-style: none;
	background: linear-gradient(#FF79DA, #9356DC);
	opacity: 0.8;
	cursor: pointer;
}

.explorer_text button:hover{
	box-shadow: 10px 5px 10px gray;
	opacity: 1;
}

/*functioning*/
.functioning{
	
	margin-bottom: 40px;
}

.steps_functioning{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.button_functioning{
	display: flex;
	align-items: center;
}

.circle_number_function{
	position: absolute;
	color: white;
	background-color: #9356DC;
	padding: 12px;
	border-radius: 100%;
}

.number_function{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.button_functioning button{
	width: 270px;
	margin-left: 10px;
	display: flex;
	gap: 20px;
	padding: 20px;
	border-style: none;
	border-radius: 20px;
	box-sizing: border-box;
}

.button_3 button{
	background-color: #ddd0ed;
}

.button_3 i{
	color: #9356DC;
}

/*restaurant*/

.restaurants{
	background-color: #e5e4e4;
	padding-bottom: 40px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

h2{
	margin-top: 30px;
	margin-left: 20px;
}

.restaurants_cards{
	margin: 0px 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.cards{
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-bottom: 10px;
	background-color: white;
	border-radius: 20px;
	cursor: pointer;
	box-sizing: border-box;
	/*box-shadow: 0 0 16px #0000002e;*/
	position: relative;
}

.cards:hover{
	box-shadow: 15px 15px 30px gray;
}

.cards h3{
	margin: 0px;
}

.cards p{
	margin: 0px;
	padding-top: 5px;
}

.restaurants img{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	width : 100%;
	max-height: 200px;
	object-fit: cover;
}

.description{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.new{
	color: green;
	background-color: #99E2D0;
}

.tag {
	background-color: #a9e0d1;
	color: #3b8468;
	padding: 10px 20px;
	border-radius: 5px;
	position: absolute;
	top: 10px;
	right: 10px;
}

/*footer*/

footer{
	background-color: black;
	color: white;
	padding: 10px 20px;
}

footer h3{
	font-family: 'Shrikhand', sans-serif;
}

footer a{
	color: white;
}

.prop_restaurant span{
	padding-left: 7px;
}

li{
	margin: 5px;
}

/*tablet*/
@media (min-width: 900px){
	.steps_functioning{
		width: 100%;
		justify-content: center;
		flex-direction: row;
		gap: 50px;
	}

	.button_functioning button{
		width: 250px;
	}

	.restaurants_cards{
		justify-content: space-around;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 40px;
	}

	.cards{
		width: 40%;
	}
}

/*desktop*/
@media (min-width: 1200px){
	.restaurants img{
		max-height: 300px;
	}
}